<% content_for(:body) do %>
  <%= turbo_stream_from "notifications_#{current_user.id}" if current_user %>
  <div data-controller="progress-bar" class="relative flex min-h-screen flex-col bg-slate-50 dark:bg-background-dark">
    <div data-progress-bar-target="bar" class="progress-bar fixed top-0 left-0 h-[3px] bg-primary z-[60] opacity-0 w-0"></div>
    <%= render "shared/app_navbar" %>
    <%= render "shared/email_verification_banner" %>
    <div id="flash_messages">
      <%= render "shared/flash" %>
    </div>
    <main class="flex-1 mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
      <%= yield %>
    </main>
    <%= render "shared/public_footer" %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
