<% content_for(:body) do %>
  <%= render "shared/public_navbar" %>
  <div id="flash_messages" class="fixed top-20 right-4 z-50 flex flex-col gap-3 max-w-sm" style="pointer-events: none;">
    <%= render "shared/flash" %>
  </div>
  <main>
    <%= yield %>
  </main>
  <%= render "shared/public_footer" %>
<% end %>
<%= render template: "layouts/application" %>
